:root {
    --verde: #1E6511;
    --verdeclaro: #237814;
    --branco: #FFF;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFAFA;
    letter-spacing: 0.5px;
}

header {
    text-align: center;
    margin-top: 20px;
}

.container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    text-align: center;
    width: 50%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video iframe {
    border-radius: 20px;
}

.video h3 {
    font-size: 2.2rem;
    color: var(--preto);
    width: 55%;
    margin: 20px auto;
}

.btn-sala {
    background-color: var(--verdeclaro);
    cursor: pointer;
    color: var(--branco);
    border: 0;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.6rem;
    text-decoration: none;
}

.btn-sala:hover {
    background-color: var(--verde);
}

footer {
    background-color: rgb(238, 233, 228);
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.termosEpoliticas a {
    font-weight: 400;
    text-decoration: underline;
    color: rgb(52, 49, 45);
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 20px;
}

.redes {
    display: flex;
    align-items: center;
}

.redes i {
    color: var(--verdeclaro);
    font-size: 2.8rem;
    margin-right: 20px;
    transition: 0.3s;
}

.redes i:hover {
    color: var(--verde);
}

#btn-contato {
    background-color: var(--verdeclaro);
    border-color: transparent;
    color: var(--branco);
    border-radius: 24px;
    font-weight: 500;
    min-width: 144px;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 1.6rem;
    transition: 0.3s;
}

#btn-contato:hover {
    background-color: var(--verde);
}

footer p {
    font-size: 1.6rem;
    padding: 40px 0px;
    color: #858380;
}


/* ---------Medias Querys------------- */

@media(max-width:1210px) {
    .video {
        flex-basis: 100%;
    }
}

@media(max-width:820px) {
    .video h3 {
        width: 70%;
    }
    .links {
        flex-direction: column;
    }
    .termosEpoliticas {
        order: 2;
    }
    .redes {
        margin: 20px 0px;
        order: 1;
    }
    footer p {
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width:590px) {
    .video iframe {
        width: 430px;
        height: 242px;
    }
    .video h3 {
        width: 85%;
    }
}

@media(max-width:470px) {
    .video iframe {
        width: 350px;
        height: 197px;
    }
}

@media(max-width:380px) {
    .video iframe {
        width: 300px;
        height: 168px;
    }
    .video h3 {
        font-size: 2.0rem;
    }
}