<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala 03 - erural</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./arquivos/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/videos.css">
    <script src="/js/vue.min.js"></script>

</head>

<body>
    <div id="app"></div>


    <script>
        new Vue({
            el: '#app',
            template: `
    <div class="container">
        <a href="index.html" id="back"><i class="fa-solid fa-arrow-left"></i></a>
        <header>
            <a href="index.html"><img src="./arquivos/logoErural.svg" alt="logo Erural"></a>

        </header>
        <div class="video" id="video1">
            <iframe width="1060" height="615" src="https://www.youtube.com/embed/vnrnUDt68-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="text-video">
                <h1>Giro de Notícias erural - 04/03/22 / Impactos Rússia x Ucrânia; Exportação bate recorde; Chuva forte</h1>
                <p>Fique por dentro dos destaques da semana agora no Giro de notícias erural.</p>
            </div>

        </div>
        <div class="container-comments">
            <h5>Deixe seu comentário</h5>
            <hr>

            <form class="forms">
                <input type="text" id="nome" placeholder="Digite seu nome..." v-model="nome">
                <textarea id="mensagem" placeholder="Digite sua mensagem..." v-model="mensagem"></textarea>
                <button id="btn-comentar" type="submit" @click.prevent="addComment">Comentar</button>
            </form>

            <div class="mensagemFlex">
                <div v-for="(comment, index) in comments" class="caixaMensagem">
                    <div class="headerMensagem">
                        <span> <strong>{{ comment.nome }}: </strong></span>
                        <p>{{ comment.mensagem }}</p>
                    </div>

                    <div class="footerMensagem">
                        <a class="btn-denunciar" @click="alerta"> <i class="fa-solid fa-flag"></i> Denunciar</a>
                        <a class="btn-like" v-bind:style="{ color: likeColor }" :class="{ liked: comment.isLiked  }" @click="onTapLike(index)" > <i class="fa-solid fa-thumbs-up"></i> Like</a>
                    </div>
                </div>

                <div class="caixaMensagem">
                    <div class="headerMensagem">
                        <span> <strong> João Guilherme : </strong></span>
                        <p>A plataforma da erural é massa!!!</p>
                    </div>

                    <div class="footerMensagem">
                        <a class="btn-denunciar" @click="alerta"> <i class="fa-solid fa-flag"></i> Denunciar</a>
                        <a class="btn-like" v-bind:style="{ color: likeColorLucas }" @click="likeLucas"> <i class="fa-solid fa-thumbs-up"></i> Like</a>
                    </div>

                </div>

                <div class="caixaMensagem">
                    <div class="headerMensagem">
                        <span> <strong>Ana Bia: </strong></span>
                        <p>Desde que conheci o erural não consigo mais viver sem!</p>
                    </div>

                    <div class="footerMensagem">
                        <a class="btn-denunciar" @click="alerta"> <i class="fa-solid fa-flag"></i> Denunciar</a>
                        <a class="btn-like" v-bind:style="{ color: likeColorAna }" @click="likeAna"> <i class="fa-solid fa-thumbs-up"></i> Like</a>
                    </div>
                </div>
            </div>


        </div>

        <footer>
            <div class="links">

                <div class="termosEpoliticas">
                    <a href="#">Termos de uso</a>
                    <a href="#">Política de privacidade</a>
                    <a href="#">Política de cookies</a>
                </div>

                <div class="redes">
                    <a href="https://www.facebook.com/eruralBR/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/erural_br/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5516997420031&text=Oi%2C%20eu%20estava%20na%20p%C3%A1gina%20https://www.erural.net/fale_conosco%20%2C%20e%20tenho%20uma%20d%C3%BAvida..." target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                    <a id="btn-contato" href="https://www.erural.net/fale_conosco">Fale conosco</a>
                </div>

            </div>
            <p>© 2023 - erural - Todos os direitos reservados CNPJ: 31.793.454/0001-90<br> Edifício TK Tower - Sala 1806, Av Professor Magalhães Neto, 1856, Pituba, Salvador, BA - 41810-011</p>
        </footer>
    </div>
           
        `,
            data: {
                nome: '',
                mensagem: '',
                comments: [],
                likeColorLucas: '#c0c0c0',
                likeColorAna: '#c0c0c0',
                likeColor: '#c0c0c0'
            },
            methods: {
                onTapLike(index) {
                    this.comments[index].isLiked = !this.comments[index].isLiked
                },
                addComment() {
                    if (this.nome === '' || this.mensagem === '') {
                        return
                    }
                    this.comments.unshift({
                        nome: this.nome,
                        mensagem: this.mensagem,
                        isLiked: false
                    });

                    this.nome = '';
                    this.mensagem = '';

                },
                likeLucas() {
                    this.likeColorLucas === '#c0c0c0' ? this.likeColorLucas = '#0000ff' : this.likeColorLucas = '#c0c0c0';

                },
                likeAna() {
                    this.likeColorAna === '#c0c0c0' ? this.likeColorAna = '#0000ff' : this.likeColorAna = '#c0c0c0';
                },
                alerta() {
                    alert('Funcionalidade ainda não implantada :(')
                }
            }
        })
    </script>
    <script src="https://kit.fontawesome.com/21617eeeb1.js" crossorigin="anonymous"></script>



</body>

</html>

</html>